@import "../../../node_modules/font-awesome/scss/variables";
$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";

$default-border-size: 1px;
$active-nav-color: rgb(189, 50, 189);
$default-border: $default-border-size solid black;
$default-padding: 4px;
$large-padding: 8px;

.error {
    border: $default-border-size solid red;
}

.result-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    margin-top: $large-padding;

    .result-area {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .output {
            height: 300px;
            cursor: default;
        }
    }
}

.input-container {
    margin-top: $large-padding;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;

    .input-area {
        flex: 1 1 auto;
    }

    .send-input {
        flex: 0 1 auto;
    }
}

.navbar {
    background-color: black;
    color: white;
    padding: $large-padding;
    margin-bottom: $large-padding;

    .nav-item {
        color: white;
        text-decoration: none;
        padding: $default-padding $large-padding;

        &:hover {
            color: $active-nav-color
        }

        &.active {
            border-bottom: 4px solid $active-nav-color
        }
    }
}

textarea {
    resize: none;
}