@import "../../../node_modules/font-awesome/scss/variables";
$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";

$default-border-size: 1px;
$active-nav-color: rgb(189, 50, 189);
$default-border: $default-border-size solid black;
$small-padding: 2px;
$default-padding: 4px;
$large-padding: 8px;
$alt-text-color: white;
$metalic-silver-color: #BCC6CC;
$enigma-bg-color: #222;

body {
    margin: 0;
    background-color: #fafbfc;
}

.error {
    border: $default-border-size solid red;
}

.result-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    margin-top: $large-padding;

    .result-area {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .output {
            height: 300px;
            cursor: default;
            color: $alt-text-color;
            background-color: $enigma-bg-color;
        }
    }
}

.input-container {
    margin-top: $large-padding;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;

    .input-area {
        flex: 1 1 auto;
    }

    .send-input {
        flex: 0 1 auto;
    }
}

.navbar {
    background-color: black;
    color: white;
    padding: $large-padding;
    margin-bottom: $large-padding;

    .nav-item {
        color: white;
        text-decoration: none;
        padding: $default-padding $large-padding;

        &:hover {
            color: $active-nav-color
        }

        &.active {
            border-bottom: 4px solid $active-nav-color
        }
    }
}

textarea {
    resize: none;
}

.letter-grid {
    margin: $default-padding;

    .letter-grid-row {
        margin-bottom: $large-padding;

        .letter-grid-item {
            line-height: 16px;
            padding: 0 6px;
            margin-right: $default-padding;
            border-radius: 100%;
            border: $default-border;
            background-color: #414141;
            color: $alt-text-color;
        }
    }

    .letter-grid-row:nth-last-of-type(2n) {
        margin-left: $large-padding;
    }
}