@import 'common';

.plug {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.plug-btn {
    background-color: $metalic-silver-color;
}

.min-plug-size {
    min-height: 21px;
    min-width: 24px;
}

.max-plug-size {
    max-height: 21px;
    max-width: 24px;
}

.plug-key {
    text-align: center;
}