@import 'common';

.reflector,
.rotor {
    display: flex;
    flex-direction: column;
    margin: $default-padding;
    background-color: $metalic-silver-color;

    .rotor-dial,
    .reflector-dial {
        display: flex;
        flex-direction: row;
        
        &.reflector-option,
        .rotor-wheel {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: $small-padding $default-padding;
            text-align: center;
        }
    
        .rotor-position {
            color: black;
        }
        
        .rotor-preview {
            color: grey;
        }
    
        .rotor-move-area {
            margin-left: $default-padding;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            border-left: $default-border-size solid black;
        }

        .rotor-move-btn + .rotor-move-btn {
            margin-top: $default-padding;
        }
    }

    .reflector-option-move-area {
        display: flex;
    }

    .rotor-type {
        margin-bottom: $default-padding;
    }
    
    .rotor-move-btn {
        background-color: #BCC6CC;
        padding: $small-padding $default-padding;
        border: none;
        flex: 1 1 auto;
        outline: none;

        &:hover {
            color: $alt-text-color;
        }
    }
}