@import 'common';

.reflector,
.rotor {
    display: flex;
    flex-direction: row;
    margin: $default-padding;
    background-color: $metalic-silver-color;

    .reflector-option,
    .rotor-wheel {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $small-padding $default-padding;
    }

    .rotor-position {
        color: black;
    }
    
    .rotor-preview {
        color: grey;
    }

    .reflector-option-move-area,
    .rotor-move-area {
        margin-left: $default-padding;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        border-left: $default-border-size solid black;
    }
    
    .rotor-move-btn {
        background-color: #BCC6CC;
        padding: $small-padding $default-padding;
        border: none;
        flex: 1 1 auto;
        outline: none;

        &:hover {
            color: $alt-text-color;
        }
    }
    
    .rotor-move-btn + .rotor-move-btn {
        margin-top: $default-padding;
    }
}